.card {
    width: 50px;
}



.cardTextParent {
    /* position: relative; */
    height: 300px;
}

.cardTextBg {
    margin: 0;
    /* position: absolute; */
    padding-left: 10px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position:relative;
}
.cardTextChild {
    margin: 0;
    /* font-size: 2em; */
    /* font-weight: bold; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.cardTextTitle {
    margin: 0 0 10px 0;
    font-size: 2em;
    font-weight: bold;
}
.cardTextContent {
    margin: 0;
    font-size: 1.5em;
}

.cardImageParent {
    height: 300px;
    position: relative;
}

.cardLabel {
    margin-top: 40px;
    position: relative;
    width: 200px;
    padding: 10px 20px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    z-index: 1;
    background-color: yellow;
}


@media screen and (max-width: 959px) {
    .cardTextTitle {
        font-size: 1.5em;
    }
    .cardTextContent {
        font-size: 1.0em;
    }
}
@media screen and (max-width: 480px) {
    .cardTextTitle {
        font-size: 1.2em;
    }
    .cardTextContent {
        font-size: 1.0em;
    }
}