html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
main {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1500px;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
